<div class="main-content-container">
  <img
    src="https://github.com/ADeljanin/basketball/blob/76873c4ba54d4b2c7bdd1c7d11c959de5cd21168/docs/assets/img/logo.png"
    alt="logo"
  />
  <!-- <h1>Welcome to the Serbian national basketball application!</h1> -->
  <div class="text-anim">
    <div id="container-anim">
      Great
      <div id="flip">
        <div>
          <div>players</div>
        </div>
        <div>
          <div>team</div>
        </div>
        <div>
          <div>coach</div>
        </div>
      </div>
      make the game look &nbsp;easy!
    </div>
  </div>
</div>
