<div class="main-content-container">
  <img
    src="https://github.com/ADeljanin/basketball/blob/main/docs/assets/img/logo.png?raw=true"
    alt="logo"
  />
  <!-- <h1>Welcome to the Serbian national basketball application!</h1> -->
  <div class="text-anim">
    <div id="container-anim">
      Great
      <div id="flip">
        <div>
          <div>players</div>
        </div>
        <div>
          <div>teams</div>
        </div>
        <div>
          <div>coaches</div>
        </div>
      </div>
      make the game look &nbsp;easy!
    </div>
  </div>
</div>
